## Exclude the following directory/files

## Minified files
assets/css/adzonia.css
assets/css/adzonia-admin.css
assets/js/adzonia.min.js
assets/js/adzonia-admin.min.js

## Common setting
*.log

## Windows image file caches
Thumbs.db
ehthumbs.db

## Folder config file
Desktop.ini

## Recycle Bin used on file shares
$RECYCLE.BIN/

## Windows shortcuts
*.lnk

## Editor settings
.idea
*.sublime-project
*.sublime-workspace
.sublime-grunt.cache

## Composer files
composer.phar
/vendor

## Node
/node_modules

## Archives
*.zip

## NPM package Lock
package-lock.json
