/** LESS CSS MIXINS
*   Collected by: Mayeenul Islam (@mayeenulislam)
*   For: nanodesigns (http://nanodesignsbd.com)
*   
*   From: various sources
*/
/* Variables for em / rem use */
/* LESS MIXINS - FOR COMMON USE */
/* Border Radius Simple */
/* Border Radius Custom */
/* Box Shadow */
/* Transition */
/* Transform */
/* Linear Gradient */
/* Quick Gradient */
/* Webkit Reflection */
/* Complementary Color Scheme */
/* Mixin */
/* Implementation
.one   {color: @base;}
.two   {color: @complement1;}
.three {color: @complement2;}
.four  {color: @lighten1;}
.five  {color: @lighten2;} */
/* Subtle Color Scheme */
/* Mixin */
/* Implementation
.one   {color: @base;}
.two   {color: @lighter1;}
.three {color: @lighter2;}
.four  {color: @darker1;}
.five  {color: @darker2;} *//*---------------------
*   Common CSS
* ---------------------*/
.text-center {
  text-align: center;
}
.dead {
  color: grey;
}
.required,
.ad-inactive {
  color: #dd3d36;
}
.ad-active {
  color: darkgreen;
}
.hide-me {
  display: none;
}
.show-block {
  display: block !important;
}
/*---------------------
*   Plugin CSS
* ---------------------*/
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
#adz-meta-table td {
  vertical-align: top;
}
.adz-meta-div .p-icon {
  font-size: 0.8125rem;
  vertical-align: sub;
}
.adz-label-td,
.adz-info-td {
  min-width: 150px;
  font-size: 0.8125rem;
}
.adz-info-td input[type='text'],
.adz-info-td textarea {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
}
.adz-info-td input[type='text']#wpadz_ad_image {
  width: 83%;
  margin-right: 1%;
}
.adz-info-td textarea#wpadz_ad_code {
  font-family: "Courier New", monospace;
}
.adz-tooltip-icon {
  font-size: 1.125rem;
  color: #999;
  position: relative;
  cursor: pointer;
}
.adz-tooltip-icon:hover {
  color: #555;
}
.adz-tooltip-icon:hover:after {
  content: attr(data-tooltip);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  z-index: 9999;
  white-space: normal;
  width: 160px;
  top: -5px;
  left: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8125rem;
  line-height: 1.2;
}
