/* Variables for em / rem use */
$base_px: 16; //set to the most common base px size used in browsers, should generally be left at default

$toRem: (1 / $base_px) + 0rem; //allows you to set values as the default px size to target, which is then converted into scalable rem values.

$toEm: (1 / $base_px) + 0em; //same as above, but with em values
